<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.tne.expenzingNexgenTnE" version="1.5.10" android-versionCode="108" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!--widget id="com.expenzing.expenzing" version="1.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"-->
    <name>Expenzing Nexgen TnE</name>
    <description>
        Expenzing Application
    </description>
    <author email="tech@expenzing.com" href="http://www.expenzing.com">
        Team Expenzing
    </author>
       <preference name="phonegap-version" value="cli-9.0.0" />
<preference name="StatusBarOverlaysWebView" value="false" />
<preference name="fullscreen" value="false" />
<preference name="LoadUrlTimeoutValue" value="70000" />
<preference name="AutoHideSplashScreen" value="false" />
<preference name="ShowSplashScreenSpinner" value="false"/>
<preference name="FadeSplashScreen" value="false"/>
<preference name="SplashShowOnlyFirstTime" value="false" />
<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="DisallowOverscroll" value="true"/>
<preference name="SuppressesLongPressGesture" value="true" />
<preference value="none" name="permissions"/>
<plugin name="cordova-plugin-camera" source="npm"/>
<plugin name="cordova-plugin-cookiemaster" source="npm"/>
<plugin name="cordova-plugin-device" source="npm"/>
<plugin name="cordova-plugin-dialogs" source="npm"/>
<plugin name="cordova-plugin-file" source="npm"/>
<plugin name="cordova-plugin-file-opener2" source="git" spec="https://github.com/neptsoft/cordova-plugin-file-opener2"/>
<plugin name="cordova-plugin-file-transfer" source="npm"/>
<plugin name="cordova-plugin-geolocation" source="npm"/>
<plugin name="cordova-plugin-inappbrowser" source="npm"/>
<plugin name="cordova-plugin-media" source="npm"/>
<plugin name="cordova-plugin-media-capture" source="npm"/>
<plugin name="cordova-plugin-network-information" source="npm"/>
<plugin name="cordova-plugin-secure-key-store" source="npm"/>
<plugin name="cordova-plugin-splashscreen" source="npm"/>
<plugin name="cordova-plugin-statusbar" source="npm"/>
<plugin name="cordova-plugin-whitelist" source="npm"/>
<allow-intent target="_blank" target="_blank" href="http://*/*"/>
<allow-intent target="_blank" target="_blank" href="https://*/*"/>
<allow-intent href="tel:*"/>
<allow-intent href="sms:*"/>
<allow-intent href="mailto:*"/>
<allow-intent href="geo:*"/>
<allow-navigation href="*" />
<access origin="*" subdomains="true" />
    
     <icon src="icon.png" />
        
      <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024" />

        <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon gap:platform="ios" height="120" src="res/icon/ios/icon-120.png" width="120" />
        <icon gap:platform="ios" height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon gap:platform="ios" height="152" src="res/icon/ios/icon-152.png" width="152" />
        <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
        <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
        <icon gap:platform="ios" height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <icon gap:platform="ios" height="40" src="res/icon/ios/icon-40.png" width="40" />
    
      <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
        <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
        <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
        <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
        <gap:splash gap:platform="ios" height="480" src="res/splash/ios/Default.png" width="320" />
        <gap:splash gap:platform="ios" height="960" src="res/splash/ios/Default2x.png" width="640" />
        <gap:splash gap:platform="ios" height="1136" src="res/splash/ios/Default-568h@2x.png" width="640" />
        <gap:splash gap:platform="ios" height="1334" src="res/splash/ios/default-750X1334.png" width="750" />
        <gap:splash gap:platform="ios" height="2208" src="res/splash/ios/default-1242X2208-3x.png" width="1242" />
    
        
   
      
      
    
    </widget>
